.leftUpperDetailsContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 40%;
  position: relative;
  left: 18%;
}

.innerLeftUpperDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.innerLeftUpperDetailsContainer p {
  text-align: start;
}
.innerLeftUpperDetailsContainer h1 {
  margin: 0;
}
.innerLeftUpperDetailsContainer > p:nth-child(1) {
  margin-bottom: 0;
}
@media screen  and (max-width: 822px){
  .leftUpperDetailsContainer{
    position :relative;
    z-index: 0;
    left: 0;
    width: 80%;
  padding: 0px;
  padding-top: 20px;


  }
  
}