.bottomHeader {
  display: flex;
  justify-content: center;
  background-color: var(--bg_default);
}
.Welcome {
  text-align: start;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}
.Welcome > h1 {
  margin-bottom: 0;
}
.Welcome > h3 {
  margin-top: 0;
}
