.cardWithButtonContainer {
  margin: 35px;
  background-color: var(--bg_default);
  width: 320px;
  height: 420px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  left: 56%;
  border: 2px solid var(--bg_default);
  box-shadow: 0px 2px 3px 0px var(--lines-color);
  align-items: center;
}
@media screen  and (max-width: 822px){
  .cardWithButtonContainer{
    position :relative;
    z-index: 0;
    width: 80%;
    left: 0;
  }
  
}
.cardWithButtonContainer > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cardWithButtonInfo {
  text-align: start;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.cardWithButtonInfo a {
  color: var(--brand-primary);
  font-weight: 600;
}
.cardWithButtonInnerInfo {
  border: 1px solid var(--lines-color);
  padding: 10px;
  padding-inline: 20px;
  height: 150px;
}
.cardWithButtonInnerInfo p {
  margin-top: 10px;
}
.cardWithButtonInnerInfo p:nth-child(3) {
  text-align: center;
}
