.selectContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--bg_default);
  width: 49%;
  height: 55px;
  justify-content: center;
  border-left: 0.125rem solid var(--lines-color);
}

.selectContainer label {
  font-size: 12px;
  font-weight: 600;
  text-align: start;
  padding-left: 4px;
}
select {
  border: 0;
  height: 30px;
  font-size: 16px;
  font-weight: 600;
}
